body {
    background-color: #f2f1f4;
    font-family: "PT Sans Narrow";
}

header {
    text-align: center;
    display: inline-block;
    width: 100%;
}

nav {
    margin: auto;
    display: flex;
    background-color: #30A894;
    width: 80%;
    height: 100px;
}

nav a {
    text-decoration: none;
    color: #FFFF;
    padding: 4%;
    width: 33%;
    font-size: 1.2em;
}

nav a:hover {
    background-color : #38B5A0;
}

section {
    font-family: "Open Sans", Arial;
    color: #6A6D70;
    float: left;
    width: 50%;
    margin: 2% 5% 0 10%;
}

section img {
    max-width: 100%;
}

aside{
    background-color: #B8DCB1;
    font-family: "Open Sans", Arial;
    color: #6A6D70;
    float: left;
    width: 25%;
}

aside article {
    padding: 5%;
}

h1, h2 {
    color: #38B5A0;
}
@media(min-width: 768px) and (max-width: 1250px) {

    header {
        margin: auto;
    }
    
    nav {
        display: block;
        width: 95%;
        height: 50%;
    }
    
    nav a {
        display: block;
        width: 95%;
        padding: 10 50% 10;
        font-size: 1.6em;
    }
    

    section {
        width: 90%;
        margin: 5% 5% 0 5%;
        font-size: 1.2em;
    }
    
    section img {
        max-width: 100%;
    }
    
    aside{
        width: 95%;
        margin: 2% 0% 5% 2.5%;
    }
    
    aside article {
        padding: 2%;
        font-size: 0.9em;
    }
    

}

@media(max-width: 767px){

    aside {
        display: none;
    }

    header {
        margin: auto;
    }
    
    nav {
        display: block;
        width: 95%;
        height: 50%;
    }
    
    nav a {
        display: block;
        text-decoration: none;
        width: 95%;
        padding: 10 50% 10;
        color: #FFFF;
        font-size: 1.6em;
    }
    
    nav a:hover {
        background-color : #38B5A0;
    }

    section {
        width: 95%;
        margin: 5% 0% 5% 3%;
        font-size: 1.2em;
    }
    
    section img {
        max-width: 100%;
    }
    





}

